
# FPC  
lib/
*lib/
*.bak
*.o
*.ppu
*.lib
*.dll
*.cmake
*.h
*.c
*.trc
*.dbg
*.so
*.a
*.exe
*.xml
*.lps
darknetTest

# Delphi
backup/
LightNetDelphi/
*.bak/
*.classes/
__*/
*.dcu
*.rsm
*.identcache
*.local
