
# FPC  
lib/
*lib/
*.bak
*.o
*.ppu
*.lib
*.dll
*.cmake
*.h
*.trc
*.dbg
*.so
*.a
*.exe
*.xml
*.lps
*.weights
lightnetTest
darknetTest
build.bat
lightnetTest.*/
.DS_Store

# Delphi
backup/
LightNetDelphi/
*.bak/
*.classes/
__*/
*.jpg
*.dcu
*.rsm
*.identcache
*.local
